<div class="parallax-container">
  <div class="container white darken-2" id='title'>
    <div class="row">
      <div class='col s12 center-align'>
        <h3>The Wall</h3>
        <p class="flow-text">Post, Reply, Like, Delete</p>
      </div>
    </div>
  </div>
  <div materialize="parallax">
    <img class='responsive-img' src="../../assets/img/social-2.jpg">
  </div>
</div>
<div class='container'>
  <div class="row">
    <div class='col s12 m4 l4 center'>
      <h3>Post</h3>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, tempora. Quidem aperiam voluptate magni sunt, omnis magnam
      voluptas explicabo sapiente, fugit nobis fuga repudiandae laudantium repellat repellendus obcaecati nostrum accusantium.</p>
    </div>
    <div class='col s12 m4 l4 center'>
      <h3>Reply</h3>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam nihil necessitatibus, neque dicta rem corrupti illum asperiores
      quaerat, non maiores eligendi cumque excepturi quasi. Adipisci nemo iste quidem. Harum, odit.</p>
    </div>
    <div class='col s12 m4 l4 center'>
      <h3>Like</h3>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aperiam provident quia vero quaerat porro incidunt. Asperiores
      eum amet repudiandae rem hic repellat ut aut perspiciatis rerum ratione. Doloribus, quaerat!</p>
    </div>
    <div class="col s12 center">
      <h2>Start Posting Now</h2>
      <a [routerLink]="['wall']" class="waves-effect waves-light btn-large">Go To Wall</a>
    </div>
  </div>
</div>
<div class="grey darken-2">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m6">
          <img id='img-margin' class="circle responsive-img" src="../../assets/img/social-1.jpg" alt="">
        </div>
        <div class="col s12 m4 push-m1 white-text">
          <h4 class="center">Post Like Never Before</h4>
          <div class="divider"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eius ipsa impedit vitae vero, qui veritatis perspiciatis,
            esse enim doloribus doloremque eos voluptatem? Consectetur, qui iure quas suscipit porro nobis.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <h4 class="center">Seemless Design</h4>
          <div class="divider"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ad, impedit esse laborum mollitia nobis deleniti nihil
            dolorem alias vel distinctio ullam molestias porro sequi veniam incidunt sint vitae, perspiciatis dolorum obcaecati
            ipsa quas hic. Laudantium sunt perferendis reprehenderit adipisci veniam fuga excepturi esse, nostrum earum accusantium
            praesentium excepturi!
          </p>
        </div>
        <div class="col s12 m6 push-m1">
          <img id='img-margin' class="circle responsive-img" src="../../assets/img/social-3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
